.yearBox{
    top:6px;
    left:6px;
    font-size: small;
}

.infoBox{
    top:6px;
    right:6px;
}

.progressBar{
    height: 6px !important;
}






.active{
    text-decoration: underline;
}

.flag{
    height: 28px !important;
    width: auto !important;
}

.jsBar{
    width: 90%;
}

.pythonBar{
    width: 70%;
}

.strapiBar{
    width: 90%;
}

.postgresBar{
    width: 60%;
}

.adobeBar{
    width: 90%;
}

.reactBar{
    width: 70%;
}

.pointer:hover{
    cursor: pointer;
}