

#list-example{
  position: fixed;
  z-index: 100;
  width: 100%;
}



.linksDiv {
  position: relative;
}

.linksDiv::before {
  content: "";
  position: absolute;
  left: 10px;   /* start 10 pixels from the left */
  right: 10px;  /* end 10 pixels from the right */
  top: 0;       /* position it at the top */
  height: 3px;  /* height of the border */
  background-color: #000;  /* color of the border */
}

.linksBlock {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol{
  height: 90px !important;
}

.menuTitle{
  font-family: "Comic Sans MS";
}