// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #FDC02F;
$secondary: #212529;
$info: #343A40;
$dark: #161A1C;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

